.cards-header {
    font-family: cursive;
    margin-top: 10px;
    color: black;
    font-weight: 900;
    font-size: xx-large;
}

.products-card {
    height: 420px;
    position: relative;
    list-style-type: none;
    padding: 0;
    margin: 34px;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    position: relative;
}

.button-card {
    margin-top: 10px;
    cursor: pointer;
    border-radius: 8px;
    background: #FED84C;
    display: flex;
    padding: 20px 40px;
    align-items: center;
    gap: 10px;
    border: 0;
    font-weight: 600;
}

.last-li button {
    position: absolute;
    bottom: 0;
    left: 0;
}

.products-card>li:nth-child(2) {
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 143%;
}

.products-card>li:nth-child(3) {
    color: #2E363E;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.products-card>li:nth-child(4) {
    color: #434B53;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.berry-card {
    position: absolute;
    top: -53px;
    left: 0;
    width: 70px;
    transform: rotate(359.826deg);
}

.berry1-card {
    position: absolute;
    top: 926px;
    left: 0;
    width: 70px;
    transform: rotate(359.826deg);
}

.leaf-card {
    position: absolute;
    top: 438px;
    left: 0px;
    width: 70px;
    transform: rotate(360.826deg);
}

.leaf1-card {
    position: absolute;
    top: 317px;
    right: 1px;
    width: 70px;
    transform: rotate(180.826deg);
}

.leaf2-card {
    position: absolute;
    top: 839px;
    right: 0px;
    width: 70px;
    transform: rotate(179.826deg);
}